<template>
  <div id="app">
    <h1>Below is the Web Component</h1>
    <hello-world msg="Naved"></hello-world>
  </div>
</template>

<script>
import HelloWorld from '../node_modules/my-web/dist/hello-world.js'

export default {
  name: 'App',
  components: {
    'hello-world': HelloWorld,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
